doctype html
html(lang='en')
    head
        title Socket IO - XO Game
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Caveat+Brush')
        link(rel='stylesheet', href='/css/style.css')

        block styles
    body
        #container.col
            block content


    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    block scripts